.search {
    width: 100%;
}
.search__container {
    padding: 20px 0;
}
.search__container input {
    width: 80%;
    margin-right: 5%;
    border: 1px solid rgba(146, 101, 197, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;

    transition: border 0.2s linear;
}
.search__container input:focus {
    border: 1px solid rgba(146, 101, 197, 1);
}
.search__container button {
    width: 15%;
    border: 1px solid rgba(146, 101, 197, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;

    transition: background 0.2s linear;
}
.search__container button:hover {
    background-color: rgba(146, 101, 197, 0.6);
}
.allRadio {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.allRadio label {
    display: flex;
    align-items: baseline;
}
.allRadio label input {
    width: 20px;
    border: 1px solid rgba(146, 101, 197, 0.3);
}

@media (max-width: 576px) {
    .search__container input {
        width: 60%;
    }
    .search__container button {
        width: 35%;
    }
}
