* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.container {
    margin: 0 10%;
}
.preloader {
    text-align: center;
}
.header__nav a {
    display: inline-block;
    margin: 10px;
}

/* Grid */

#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
.footer {
    background: rgb(146, 101, 197, 0.3);
    padding: 20px 0;
    margin-top: 40px;
}
.header {
    background: rgb(146, 101, 197, 0.3);
    padding: 20px 0;
}
.main__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Media query */

@media (max-width: 768px) {
    .main__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    .main__container {
        grid-template-columns: 1fr;
    }
    .logo {
        margin: auto;
    }
    .header__nav {
        display: none;
    }
}
