* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.container {
    margin: 0 10%;
}
.preloader {
    text-align: center;
}
.header__nav a {
    display: inline-block;
    margin: 10px;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
.footer {
    background: rgb(146, 101, 197, 0.3);
    padding: 20px 0;
}
.header {
    background: rgb(146, 101, 197, 0.3);
}
.main__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 20px 0;
}
.not__found {
    grid-column: span 3;
    margin: auto;
    font-size: 30px;
    margin-top: 100px;
}

/* Card */

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
.card__photo img {
    width: 100%;
}
.cards__description {
    margin: 0 10%;
    flex-grow: 1;
}
.card__name {
    font-size: 24px;
    margin-bottom: 10px;
}
.card__description {
    font-size: 14px;
    margin-bottom: 20px;
}
.card__price {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.card__btn {
    padding: 5px 30px;
    background-color: rgba(146, 101, 197, 0.3);
    outline: none;
    border: 1px solid rgba(146, 101, 197, 1);
    border-radius: 5px;

    transition: background-color 0.2s linear;
}

.card__btn:hover {
    background-color: rgba(146, 101, 197, 0.7);
}

/* Bucket */

.bucket__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.7);
}
.bucket__container {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #f0f0f0;
    border-radius: 5px;
    animation: show 0.5s ease;
}
.bucket__list {
    min-height: 300px;
    max-height: 500px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.bucket__list li {
    flex-grow: 1;
}
.bucket__name,
.bucket__price {
    max-height: 44px;
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(146, 101, 197, 0.3);
}
.bucket__price {
    display: flex;
    justify-content: space-between;
}
.bucket__item {
    padding: 0 10px;
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
}
.close__bucket {
    position: absolute;
    top: 30px;
    right: 11px;
    cursor: pointer;
}
.bucket__item__minus,
.bucket__item__plus {
    border-radius: 50%;
    border: 1px solid rgba(146, 101, 197, 0.3);
    outline: none;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 0;
    cursor: pointer;

    transition: background 0.2s ease;
}
.bucket__item__minus:hover,
.bucket__item__plus:hover {
    background: rgba(146, 101, 197, 0.7);
}
.bucket__item__count {
    margin: 10px;
}

/* Alert */

.alert__container {
    position: fixed;
    top: 10%;
    right: 2%;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    animation: fadeIn 0.3s ease;
}
.alert {
    padding: 10px;
    color: #f0f0f0;
}

/*  Media */

@media (min-width: 576px) {
    .main__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .bucket__container {
        width: 500px;
    }
}
@media (min-width: 768px) {
    .main__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        top: 15%;
        opacity: 0;
    }
    to {
        top: 10%;
        opacity: 1;
    }
}
